body{
    font-size: 40px;
    color: white;
    background-color: rgba(184, 184, 184, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1,1,auto;
    user-select: none;
}
.calculator{
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1,1,auto;
    width:689px;
    height:807px;
    border-radius: 17px;
    background-color: rgba(71, 71, 71, 1);
}
.display{
    width: 634px;
    height: 167px;
    background-color: rgba(147, 145, 145, 1);
    border-radius: 10px;
    color:black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.result{
    margin-right: 31px;
    margin-bottom: 20px;
}
.operations{
    display: flex;
    margin-top:51px;
}
.delete{
    height:68px;
    width:75px;
}
.d,.clear,.equals{
    width:139px;
    height:68px;
    border-radius: 12px;
    border: 2px solid black;
}
.d{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 120, 120, 1);
}
.clear{
    margin-left:69px;
    margin-right:69px;
}
.clear,.equals{
    display: flex;
    background-color: rgba(60, 59, 59, 1);
    justify-content: center;
    align-items: center;
    
}
.numbers{
    margin-left: 45px;
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 472px;
    height:436px;
}
.number{
    width: 82px;
    height: 82px;
    border-radius: 12px;
    border:2px solid black;
    background-color:rgba(60, 59, 59, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}